In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

s = pd.Series([1,3,5,np.nan,6,8])
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.178720 -0.422107 -0.119434  0.832837
std    1.000638  0.550489  1.161095  0.960201
min   -2.097759 -1.256298 -1.970608  0.026767
25%   -0.282115 -0.737523 -0.598607  0.234199
50%    0.209909 -0.328731 -0.093460  0.362053
75%    0.425591 -0.016160  0.723290  1.332242
max    0.554261  0.166879  1.212375  2.398929

In [21]:
df

                   A         B         C         D
2013-01-01  0.358212 -0.003057  1.212375  0.200275
2013-01-02  0.554261 -0.782701 -1.970608  0.026767
2013-01-03  0.061606 -0.601992 -0.718633  0.388135
2013-01-04 -0.396688  0.166879  0.947184  1.646944
2013-01-05 -2.097759 -0.055470 -0.238530  2.398929
2013-01-06  0.448051 -1.256298  0.051610  0.335971

In [22]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.178720 -0.422107 -0.119434  0.832837
std    1.000638  0.550489  1.161095  0.960201
min   -2.097759 -1.256298 -1.970608  0.026767
25%   -0.282115 -0.737523 -0.598607  0.234199
50%    0.209909 -0.328731 -0.093460  0.362053
75%    0.425591 -0.016160  0.723290  1.332242
max    0.554261  0.166879  1.212375  2.398929